apiVersion: batch.paddlepaddle.org/v1
kind: PaddleJob
metadata:
  name: default-name
spec:
  cleanPodPolicy: Never
  worker:
    replicas: 2
    template:
      spec:
        containers:
          - name: worker-name
            image: registry.baidubce.com/paddle-operator/demo-resnet:v1
        terminationGracePeriodSeconds: 30
