apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    volcano.sh/queue-name: default
  name: job-normal-00000001
  namespace: default
spec:
  containers:
    - image: nginx
      name: job-normal-00000001
  priorityClassName: normal
  terminationGracePeriodSeconds: 30
  schedulerName: volcano
status: {}