on: [push, pull_request]
name: Build
env:
  BASE_REPO: paddleflow
  PF_SERVER: paddleflow-server
  PF_CSI: pfs-csi-plugin
jobs:
  build_bin:
    strategy:
      matrix:
        go-version: [1.18.x]
        goos: [linux]
        goarch: [amd64,arm64]
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      id: github_context_step
      run: echo '${{ toJSON(github) }}'
    - name: Install go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install gcc
      id: install_gcc
      run: |
        echo '${{ toJSON(github) }}'
        echo $(uname -m)
        echo $(uname -s)
        sudo apt-get install -y gcc automake autoconf libtool make gcc-aarch64-linux-gnu
    - name: Run build
      run: make all
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
    - name: build python client
      run: |
        apt-get update && apt-get install -y software-properties-common gcc && \
            add-apt-repository -y ppa:deadsnakes/ppa
        apt-get update && apt-get install -y python3.8 python3-distutils python3-pip python3-apt
        cd client && python3 -m pip install setuptools && python3 setup.py bdist_wheel && cp dist/* ../output/ && cd ..
    - name: Packaging
      run: tar -zcvf paddleflow-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz output/
    - name: Uploading assets
      uses: actions/upload-artifact@v3
      with:
        name: paddleflow-${{ matrix.goos }}-${{ matrix.goarch }}
        path: paddleflow-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz
